# Environment variables - NEVER upload this
.env
.virtual_documents/

# Downloaded datasets (too large for GitHub)
data/
freesound_audio/
freesound_meta/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Airflow logs
airflow/logs/

# SonarQube
.scannerwork/