# MinIO configuration for landing_zone
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=<user-name>
MINIO_SECRET_KEY=<password>
MINIO_SECURE=false
MINIO_BUCKET=landing-zone


# FreeSound API (https://freesound.org/home/app_permissions/)
FREESOUND_CLIENT_ID=<key>
FREESOUND_API_KEY=<key>

# Kafka (warm-path and hot-path, same MinIO)
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_WARM=landing-zone-events-warm-path
KAFKA_TOPIC_HOT=landing-zone-events-hot-path
